<div
  class="container p-2 mt-3"
  style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="justify-content: space-between;"
  >
    <h2>
      Bienvenido
      {{usuario}}</h2>
    <div>
      <a href="/chat" class="text-decoration-none btn btn-outline-dark">Chat</a>
      <a
        href="/carrito"
        class="text-decoration-none btn btn-outline-dark"
      >Carrito</a>
      <a
        href="/logout"
        class="text-decoration-none btn btn-outline-dark"
      >Desloguear</a>
    </div>
  </nav>
</div>
<hr />
<div
  class="container"
  style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
>
  <div class="row">
    {{!-- <aside
      class="col d-flex flex-column align-items-center"
      style="background-color: rgba(100, 143, 60, 0.5);"
    >
      <h2 class="p-2">Perfil</h2>
      <div
        class="card d-flex flex-column align-items-center"
        style="width: 80%;"
      >
        <img src={{avatar}} class="card-img-top" alt="avatar" />
        <div class="card-body">
          <p class="card-text">{{usuario}}</p>
          <p class="card-text">{{email}}</p>
        </div>
      </div>
    </aside> --}}
    <section class="col d-flex flex-column align-items-center">
      <h2 class="p-2">Productos</h2>
      <div style="display: grid; grid-template-columns:repeat(3, 1fr);">
        {{#each productos}}
          <div class="card m-2" style="width: 16rem;">
            <div class="card-body">
              <img
                src={{this.urlIMG}}
                alt={{this.nombre}}
                style="max-width: 200px;"
              />
              <h5 class="card-title">{{this.nombre}}</h5>
              <p class="card-text"> {{this.descripcion}}</p>
              <strong> ${{this.precio}}</strong>
              <form
                action="/api/carrito/{{this.cartId}}/productos"
                method="post"
                style="margin-top: 1em;"
              >
                <input
                  type="text"
                  value={{this._id}}
                  name="id"
                  style="display: none;"
                />
                <button type="submit" class="btn btn-primary">Agregar Al Carrito</button>
              </form>
            </div>
          </div>
        {{/each}}

      </div>
    </section>

  </div>
</div>